* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #212529;
    --border-color: #666;
    --font-color: #f1f5f9;
    --primary-color: #4dff91;
    --error-color: #ff0043;
}

body{
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "Ubuntu", sans-serif;
}

main{
    display: block;
    margin: 0 auto;
    max-width: 40rem;
    padding: 0 1.5rem 2.5rem;
    position: relative;
}

header {
    padding: 2rem 0;
}

#themeSwitcher {
    background-color: var(--bg-color);
    border: .125rem solid var(--font-color);
    color: var(--font-color);
}

#themeSwitcher:hover {
    background-color: var(--font-color);
    color: var(--bg-color);
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: .25rem;
    font-weight: 700;
    padding: .5rem 1rem;
    transition: .15s;
}


